@font-face {
  font-family: 'Fig Grotesk';
  src: url('../assets/fonts/FigGrotesk01Trial-Regular.woff2') format('woff2'),
    url('../assets/fonts/FigGrotesk01Trial-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fig Grotesk';
  src: url('../assets/fonts/FigGrotesk-Bold.woff2') format('woff2'),
    url('../assets/fonts/FigGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
