body {
  background: var(--orange);
  font-family: "Fig Grotesk", sans-serif;
  color: var(--white);
  margin: 0;
  font-weight: bold;
}

button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Fig Grotesk", sans-serif;
  font-weight: bold;
}