*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background: var(--orange);
  font-family: var(--base-font);
  color: var(--white);
  margin: 0;
  font-weight: bold;
}

button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
}

a {
  color: var(--black);
}